.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#home {
  background-image: url('../Final_Fantasy_VI_Top.webp');
  background-size: 100%;
  height: 100vh;
  width: 100%;
  text-align: right;
  padding-top: 200px;
  color:goldenrod
}

#about {
  background-image: url('../Party_Artwork.webp');
  background-size: 100%;
  height: 100vh;
  width: 100%;
  text-align: center;
  size-adjust:inherit;
}

ul{
  list-style: none;
}

#zones {
  background-image: url('../ff6wallpaper23-1440x900.jpg');
  height: 100vh;
  color: black;
  font-size: medium;
}

#newform {
  padding-bottom: 30px;
  padding-top: 5px;
}

#updateform {
  padding-top: 5px;
}

#inputpage {
  padding-top: 10px;
  background-image: url('../FFXIV_Kefka_concept.webp');
  background-size: 100%;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.navBarLink {
  margin: 5px;
  font-family: cursive;
  font-size:larger;
}

